div {
    max-width: 1600px;
}

#content {
    margin: 0 auto;
}

nav a {
    text-align: center;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

body{
    background-color: #376CA9; 
}

header{
    background-color: #376CA9; 
}
nav a:hover{
    background-color: #05B3A7; 
}

.book{
    background-color: #376CA9; 
}

.join{
    background-color: #376CA9; 
}

.book:hover{
    background-color: #05B3A7; 
}

.join:hover{
    background-color: #05B3A7; 
}

#background{
    background-color: #376CA9; 
}

.msg{
    background-color: #376CA9; 
}

footer{
    background-color: #376CA9; 
}

.icon {
    width: 80px;
}