@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body{
    background-color: #36CAFA; 
    margin: 0;
    padding: 0;
}

#content {
    background-color: #36CAFA;
    margin: 0 auto;
    max-width: 1600px;
}

h1, h2, h3, h4,h5, h6 {
    padding: 10px;
    text-align: center;
    color: #FA7550 ;
    font-family: 'Source Serif Pro', serif; 
    font-size: 1.5em;
    line-height: 1.1em;
}

p {
    padding: 10px;
    color: #7392FA;
    line-height: 1.5em;
    font-size: 1.25em;
    font-family: 'Lora', serif; 
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    background-color:#36CAFA;
}

nav a {
    color:#FA7550 ;
    line-height: 1em;
    padding: .5em .75em;
    text-decoration: none;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 1.2em;
}

nav a:hover{
    background-color: #FAD97F; 
    color: #7392FA;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 4px 4px 4px #000000;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 100px;
    height: 100px;
    position: relative;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #7392FA; 
    align-items: center;
}

.home-title, .be-kind-title, .serve-title {
    font-size: 2.25em;
    color: #36CAFA;
    text-shadow: 3px 3px #000000;
    align-self: center;
}

#home, #serve, #be-kind {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#home-box, #serve-box, #be-kind-box {
    grid-column: 1/11;
    grid-row: 1/3;
}

#home-img, #serve-img, #be-kind-img {
    width: 100%;
    grid-column: 1/11;
    grid-row: 1/3;
}

#home-msg, #serve-msg, #be-kind-msg {
    grid-column: 2/3;
    grid-row: 1/3;
    text-align: center;
}

.home-grid, .serve-grid, .be-kind-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.card-img {
    width: 100%;
    height: 500px;
    box-shadow: 4px 4px 4px #13293D;
    border: 2px #13293D solid;
    transition: 'transform' .5s;
    border-radius: 50%;
}

.card-img:hover {
    opacity: .75;
    transform: scale(1.1);
}

.be-kind-card, .service-projects-card, .printouts-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.service-projects-card, .treats-ideas-card, .food-banks-card {
    grid-column: 4/6;
    grid-row: 2/3;
}

.gift-ideas-card, .donations-card {
    grid-column: 6/9;
    grid-row: 2/3;
}

#background {
    height: auto;
    background-color: #FA7550; 
    grid-column: 1/3;
    grid-row: 4/5;
}

.msg{
    grid-column: 2/3;
    grid-row: 4/5;
    padding: 55px;
    text-align: center;
    background-color: #36CAFA;
}

.msg h2 {
    color: black;
    font-size: 1.225em;
}

.msg p {
    font-size: .75em;
    color: black;
}

#info {
    color: black;
    font-size: .75em;
}

footer{
    background-color: #36CAFA;
    padding: 25px 50px;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p a{
    color: black;
    font-size: .75em;
}    

footer p a:hover {
    color: black;
    background-color: #376CA9;
}    

footer .social img {
    padding-top: 10px;
}

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #FAD97F;
    color: white;
    transform: rotateY(180deg);
    text-align: center;
  }